{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Onko mielessäsi käynyt lainan ottaminen?</h1>
          Se tapahtuu helpoiten alla olevista sivustoista:
          <ul>
            <li><a href="https://www.viikinkilaina.fi/lainat/pikavippi/1500-euroa" class="link">lainaa 1500</a></li>
            <li><a href="https://www.vippi.fi/lainaa-2000" class="link">lainaa 2000</a></li>
            <li><a href="https://www.komplettbank.fi/laina/lainat/lainaa-3000-heti-tilille/" class="link">lainaa 3000</a></li>
          </ul> 
          Hyödynnä siis tilaisuus ottaa laina!
      </div>
{{ end }}
