{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Päijät-Hämeen Yrittäjät</h1>
      <h2>Uusimpia artikkeleja</h2>
      <h4>Lahden Yrittäjät on ehdokkaana vuoden 2017 paikallisyhdistykseksi</h4>
      <p>Lahden Yrittäjät on ehdokkaana vuoden paikallisyhdistykseksi sarjassa yli 500 jäsenen yhdistykset. Vuoden 2017 parhaat paikallisyhdistykset valitaan puheenjohtajapäivillä 3.-4.2.2018. Ehdokkaat sarjassa ovat: Helsingin Yrittäjät - Koillis-Helsinki ry,...</p>
      <br>
      <h4>Työolobarometri: Pienillä työpaikoilla työolot kunnossa!</h4>
      <p>Työolobarometri kertoo jälleen, että luottamus ja tiedon kulku on sitä parempi, mitä pienemmästä työpaikasta on kyse. Pienillä työpaikoilla työntekijöistä lähes puolet ei kuulu työntekijäliittoon. Tiedot...</p>
      <br>
      <h4>Mitä kuuluu Lahden ja Nastolan Yrittäjille – Uudet puheenjohtajat haastattelussa</h4>
      <p>Lahden ja Nastolan Yrittäjät valitsivat syyskokouksissaan uudet puheenjohtajat vuodelle 2018. Oskari Hentilä ja Petri Hankiola ovat aloittaneet kautensa vakain ottein. Lahden ja Nastolan Yrittäjien...</p>
      <h2>Onko mielessäsi käynyt lainan ottaminen?</h2>
          Se tapahtuu helpoiten alla olevista sivustoista:
          <ul>
            <li><a href="https://www.viikinkilaina.fi/lainat/pikavippi/1500-euroa" class="link">lainaa 1500</a></li>
            <li><a href="https://www.vippi.fi/lainaa-2000" class="link">lainaa 2000</a></li>
            <li><a href="https://www.komplettbank.fi/laina/lainat/lainaa-3000-heti-tilille/" class="link">lainaa 3000</a></li>
          </ul> 
          Hyödynnä siis tilaisuus ottaa laina!
      </div>
{{ end }}
